<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sendspaceBox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container" style="width: 800px">
        <div class="page-header">
            <h1>sendspaceBox <a href="/logout" class="btn btn-danger pull-right">Logout</a></h1>
        </div>
        <div class="row">
            {% if not synced_files_before %}
                <div class="alert alert-info" role="alert">To start syncing files from Dropbox to Sendspace fill in your Sendspace credentials below and click 'Sync files' button.</div>
            {% else %}
                {% if finished_previous_sync %}
                    {% if errors %}
                        <div class="panel panel-danger">
                            <div class="panel-heading">Previous sync finished with errors. You can start it again to fix the problem.</div>
                            <ul class="list-group">
                                {% for error in errors %}
                                    <li class="list-group-item">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <div class="panel panel-success">
                            <div class="panel-heading">Previous sync successfully finished (without errors). You can start it again if you want.</div>
                            <ul class="list-group">
                                {% for log in logs %}
                                    <li class="list-group-item">{{ log }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="panel panel-warning">
                        <div class="panel-heading">Sync is in progress. Please, wait... <a href="/" class="pull-right">Refresh status</a></div>
                        <ul class="list-group">
                            {% for log in logs %}
                                <li class="list-group-item">{{ log }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endif %}

            {% if not synced_files_before or finished_previous_sync %}
                <form action="/sync" method="post">
                    <div class="form-group">
                        <label for="sendspace_username">Username</label>
                        <input type="text" class="form-control" id="sendspace_username" name="sendspace_username">
                    </div>
                    <div class="form-group">
                        <label for="sendspace_password">Password</label>
                        <input type="text" class="form-control" id="sendspace_password" name="sendspace_password">
                    </div>
                    <div class="form-group">
                        <label for="sendspace_key">Key</label>
                        <input type="text" class="form-control" id="sendspace_key" name="sendspace_key">
                    </div>
                    <button type="submit" class="btn btn-success">Sync files</button>
                </form>
            {% endif %}
        </div>
    </div>
</body>
</html>